---
import Layout from '../layouts/Layout.astro'
import HeroBanner from '../components/HeroBanner.astro'
import RowSlider from '../components/RowSlider.astro'

import { getPopularMovies, getPopularTVShows } from '../lib/tmdb'
const trending = await getPopularMovies()
const action   = await getPopularTVShows()
const comedy   = await getPopularTVShows() // Reemplaza por otra categoría real si quieres
---
<Layout>
  <HeroBanner movie={trending[0]} />

  <div class="space-y-8">
    <RowSlider title="Acción"  movies={action.slice(0, 20)} />
    <RowSlider title="Comedia" movies={comedy.slice(0, 20)} />
  </div>
</Layout>
