---
import Layout from '../layouts/Layout.astro'
import HeroSlider from '../components/HeroSlider.astro'
import RowSlider from '../components/RowSlider.astro'

// ✅ Importa funciones de TMDB
import { getTrending, getMoviesByGenre } from '../lib/tmdb.js'

const trending = await getTrending()
const action   = await getMoviesByGenre(28)
const comedy   = await getMoviesByGenre(35)
---
<Layout>
  <HeroSlider movies={trending.slice(0, 10)} />

  <div class="space-y-8 mt-10">
    <RowSlider title="Acción"  movies={action} />
    <RowSlider title="Comedia" movies={comedy} />
  </div>
</Layout>
