---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import { getPopularTVShows }  from "../lib/tmdb.js";
const shows = await getPopularTVShows();
import "../styles/global.css"
---

<Layout>
<h1 class="text-2xl font-bold mb-4 text-red-500">Series de TV populares</h1>

<div class="text-red-500 bg-blue-500">
  Esto debería tener texto rojo y fondo azul.
</div>



  <div class="grid grid-cols-[repeat(auto-fill,minmax(180px,1fr))] gap-4">
    {shows.map((s) => (
      <div class="bg-zinc-900 rounded overflow-hidden shadow">
        <img src={`https://image.tmdb.org/t/p/w500${s.poster_path}`} alt={s.name} class="w-full" />
        <div class="p-2"><h2 class="text-sm font-semibold truncate">{s.name}</h2></div>
      </div>
    ))}
  </div>
</Layout>
