---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Clon Netflix</title>
  </head>
  <body class="bg-black text-white min-h-screen">
    <Navbar />
    <main class="p-4">
      <slot />
    </main>
  </body>
</html>
